// This file is empty within the template
// You can use it to override CSS from within your project
* a:link,* a:visited {
  color:rgb(30, 156, 194);
}

* a:hover,* a:active {
  color:#381A89;
}

.btn {
  &:link,
  &:visited {
    color: $primary-color;
  }
  &-primary {
    &:link,
    &:visited{
      color: $white;
    }
  }
}

footer * a {
  &:link, &:visited {
    color: $primary-color;
  }
}

.faq_title {
  cursor: pointer;
}

// "\f054" - right
// "\f078" - down
.faq_title.collapsed > i::before,
.faq_title[aria-expanded="false"] > i::before {
  content: "\f054";
}

.faq_title[aria-expanded="true"] > i::before {
  content: "\f054";
  content: "\f078";
}

.contact {
  &__form {
    width: 100%;
    height: 57rem;
    border: 0;
    margin: 0;
  }
}

.host-logos {
  width: 50%;
  @include desktop {
    width: 70%;
  }
  @include tablet {
    width: 90%;
  }
}

.sponsor-logos {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  @include desktop {
    width: 60%;
  }
  @include tablet {
    width: 70%;
  }
}

.events_page_no_posts > * > a,
.events_page_no_posts > a {
  color: #381A89 !important;
}

