{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mb-4 mb-lg-0">
      <!-- TODO: embed google link here -->
      </div>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdD0TzNJQEH1-wV1qlgtYA6pVGRnb1MyPk6v1rppRILVQxe6g/viewform?embedded=true" width="640" height="912" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
      <div class="col-lg-5 content">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
