{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 mb-4">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdD0TzNJQEH1-wV1qlgtYA6pVGRnb1MyPk6v1rppRILVQxe6g/viewform?embedded=true" scrolling="no" class="contact__form">Loading…</iframe>
      </div>
      {{/*  <div class="col-lg-5 content">
        {{ .Content }}
      </div>  */}}
    </div>
  </div>
</section>

{{ end }}
